In [2]:
#iris = read.csv(file="data/iris.data", header = TRUE, sep = ',')

# Structure - str(iris) - Is the most important command in R

In [3]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

Tidy data is a standard way of mapping the meaning of a dataset to its structure.
1. Each variable forms a column.
2. Each observation forms a row.
3. Each type of observational unit forms a table.
https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html

In [4]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [5]:
library(tidyverse)

iris.tidy <- iris %>%
  gather(key, Value, -Species) %>%
  separate(key, c("Part", "Measure"), "\\.")

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

In [6]:
str(iris.tidy)

'data.frame':	600 obs. of  4 variables:
 $ Species: Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Part   : chr  "Sepal" "Sepal" "Sepal" "Sepal" ...
 $ Measure: chr  "Length" "Length" "Length" "Length" ...
 $ Value  : num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...

In [8]:
head(iris.tidy)

  Species Part  Measure Value
1 setosa  Sepal Length  5.1
2 setosa  Sepal Length  4.9
3 setosa  Sepal Length  4.7
4 setosa  Sepal Length  4.6
5 setosa  Sepal Length  5.0
6 setosa  Sepal Length  5.4

In [7]:
library(feather)
path <- "data/iris.feather"
write_feather(iris, path)
df <- read_feather(path)
df

ERROR: Error in writeFeather(x, path): IO error: Failed to open file: data/iris.feather